openapi: 3.0.3
info:
  contact:
    email: support@mangadex.org
    name: MangaDex staff team
  description: |
    MangaDex is an ad-free manga reader offering high-quality images!

    This document details our API as it is right now. It is in no way a promise to never change it, although we will endeavour to publicly notify any major change.

    # Acceptable use policy

    Usage of our services implies acceptance of the following:
    - You **MUST** credit us
    - You **MUST** credit scanlation groups if you offer the ability to read chapters
    - You **CANNOT** run ads or paid services on your website and/or apps

    These may change at any time for any and no reason and it is up to you check for updates from time to time.

    # Security issues

    If you believe you found a security issue in our API, please check our [security.txt](/security.txt) to get in touch privately.
  title: MangaDex API
  version: 5.10.0
servers:
- description: MangaDex Api
  url: https://api.mangadex.org
security:
- Bearer: []
tags:
- name: Account
- name: ApiClient
- name: AtHome
- name: Authentication
- name: Author
- name: Captcha
- name: Chapter
- name: Cover
- name: CustomList
- name: Feed
- name: Follows
- name: Forums
- name: Infrastructure
- name: Legacy
- name: Manga
- name: Rating
- name: ReadMarker
- name: Report
- name: ScanlationGroup
- name: Settings
- name: Statistics
- name: Upload
- name: User
paths:
  /ping:
    get:
      description: Returns a plaintext response containing only the word "pong" if
        the API is healthy
      operationId: get-ping
      responses:
        "200":
          content:
            text/plain:
              schema:
                default: pong
                type: string
          description: Pong
      security: []
      summary: Ping healthcheck
      tags:
      - Infrastructure
  /manga:
    get:
      description: Search a list of Manga.
      operationId: get-search-manga
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 100
          minimum: 0
          pattern: ^\d+$
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          pattern: ^\d+$
          type: integer
        style: form
      - explode: true
        in: query
        name: title
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: authorOrArtist
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: "authors[]"
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: "artists[]"
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - description: Year of release or none
        explode: true
        in: query
        name: year
        required: false
        schema:
          $ref: '#/components/schemas/get_search_manga_year_parameter'
        style: form
      - explode: true
        in: query
        name: "includedTags[]"
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: includedTagsMode
        required: false
        schema:
          default: AND
          enum:
          - AND
          - OR
          type: string
        style: form
      - explode: true
        in: query
        name: "excludedTags[]"
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: excludedTagsMode
        required: false
        schema:
          default: OR
          enum:
          - AND
          - OR
          type: string
        style: form
      - explode: true
        in: query
        name: "status[]"
        required: false
        schema:
          items:
            enum:
            - ongoing
            - completed
            - hiatus
            - cancelled
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: "originalLanguage[]"
        required: false
        schema:
          items:
            pattern: "^[a-zA-Z\\-]{2,5}$"
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: "excludedOriginalLanguage[]"
        required: false
        schema:
          items:
            pattern: "^[a-zA-Z\\-]{2,5}$"
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: "availableTranslatedLanguage[]"
        required: false
        schema:
          items:
            pattern: "^[a-zA-Z\\-]{2,5}$"
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: "publicationDemographic[]"
        required: false
        schema:
          items:
            enum:
            - shounen
            - shoujo
            - josei
            - seinen
            - none
            type: string
          type: array
        style: form
      - description: Manga ids (limited to 100 per request)
        explode: true
        in: query
        name: "ids[]"
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: "contentRating[]"
        required: false
        schema:
          default:
          - safe
          - suggestive
          - erotica
          items:
            enum:
            - safe
            - suggestive
            - erotica
            - pornographic
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: createdAtSince
        required: false
        schema:
          description: "DateTime string with following format: YYYY-MM-DDTHH:MM:SS\
            \ in timezone UTC+0"
          pattern: "^\\d{4}-[0-1]\\d-([0-2]\\d|3[0-1])T([0-1]\\d|2[0-3]):[0-5]\\d:[0-5]\\\
            d$"
          type: string
        style: form
      - explode: true
        in: query
        name: updatedAtSince
        required: false
        schema:
          description: "DateTime string with following format: YYYY-MM-DDTHH:MM:SS\
            \ in timezone UTC+0"
          pattern: "^\\d{4}-[0-1]\\d-([0-2]\\d|3[0-1])T([0-1]\\d|2[0-3]):[0-5]\\d:[0-5]\\\
            d$"
          type: string
        style: form
      - explode: false
        in: query
        name: order
        required: false
        schema:
          $ref: '#/components/schemas/get_search_manga_order_parameter'
        style: deepObject
      - explode: true
        in: query
        name: "includes[]"
        required: false
        schema:
          $ref: '#/components/schemas/ReferenceExpansionManga'
        style: form
      - explode: true
        in: query
        name: hasAvailableChapters
        required: false
        schema:
          enum:
          - "0"
          - "1"
          - "true"
          - "false"
          type: string
        style: form
      - explode: true
        in: query
        name: group
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MangaList'
          description: Manga list
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
      security: []
      summary: Manga list
      tags:
      - Manga
    post:
      description: Create a new Manga.
      operationId: post-manga
      parameters:
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          default: application/json
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MangaCreate'
        description: The size of the body is limited to 64KB.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MangaResponse'
          description: Manga Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
      summary: Create Manga
      tags:
      - Manga
  /manga/{id}/aggregate:
    get:
      operationId: get-manga-aggregate
      parameters:
      - description: Manga ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: "translatedLanguage[]"
        required: false
        schema:
          items:
            pattern: "^[a-zA-Z\\-]{2,5}$"
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: "groups[]"
        required: false
        schema:
          items:
            format: uuid
            maxLength: 36
            minLength: 36
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_manga_aggregate_200_response'
          description: OK
      security: []
      summary: Get Manga volumes & chapters
      tags:
      - Manga
  /manga/{id}:
    delete:
      operationId: delete-manga-id
      parameters:
      - description: Manga ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Manga has been deleted.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
      summary: Delete Manga
      tags:
      - Manga
    get:
      description: Get Manga.
      operationId: get-manga-id
      parameters:
      - description: Manga ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: "includes[]"
        required: false
        schema:
          $ref: '#/components/schemas/ReferenceExpansionManga'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MangaResponse'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Manga no content
      security: []
      summary: Get Manga
      tags:
      - Manga
    put:
      operationId: put-manga-id
      parameters:
      - description: Manga ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          default: application/json
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_manga_id_request'
        description: The size of the body is limited to 64KB.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MangaResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
      summary: Update Manga
      tags:
      - Manga
  /auth/login:
    post:
      deprecated: true
      operationId: post-auth-login
      parameters:
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          default: application/json
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Login'
        description: The size of the body is limited to 2KB.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
      security: []
      summary: Login
      tags:
      - Authentication
  /auth/check:
    get:
      description: |
        The returned list of permissions is computed depending on the generic role permissions that the token user has, their personal overrides, and the OpenID scopes of the token (we do not offer granular token permissions yet)
      operationId: get-auth-check
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckResponse'
          description: OK
      summary: Check the set of permissions associated with the current token
      tags:
      - Authentication
  /auth/logout:
    post:
      deprecated: true
      operationId: post-auth-logout
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogoutResponse'
          description: OK
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Service Unavailable
      summary: Logout
      tags:
      - Authentication
  /auth/refresh:
    post:
      deprecated: true
      operationId: post-auth-refresh
      parameters:
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          default: application/json
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshToken'
        description: The size of the body is limited to 2KB.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
      security: []
      summary: Refresh token
      tags:
      - Authentication
  /account/available:
    get:
      deprecated: true
      operationId: get-account-available
      parameters:
      - description: Username to check for avaibility
        explode: true
        in: query
        name: username
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_available_200_response'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
      security: []
      summary: Account username available
      tags:
      - Account
  /account/create:
    post:
      deprecated: true
      operationId: post-account-create
      parameters:
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          default: application/json
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccount'
        description: The size of the body is limited to 4KB.
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
      security: []
      summary: Create Account
      tags:
      - Account
  /account/activate/{code}:
    post:
      deprecated: true
      operationId: get-account-activate-code
      parameters:
      - explode: false
        in: path
        name: code
        required: true
        schema:
          pattern: "[0-9a-fA-F-]+"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountActivateResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
      security: []
      summary: Activate account
      tags:
      - Account
  /client:
    get:
      operationId: get-list-apiclients
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 100
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: state
        required: false
        schema:
          enum:
          - requested
          - approved
          - rejected
          - autoapproved
          type: string
        style: form
      - explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "includes[]"
        required: false
        schema:
          $ref: '#/components/schemas/ReferenceExpansionApiClient'
        style: form
      - explode: false
        in: query
        name: order
        required: false
        schema:
          $ref: '#/components/schemas/get_list_apiclients_order_parameter'
        style: deepObject
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientList'
          description: OK
      summary: List own Api Clients
      tags:
      - ApiClient
    post:
      operationId: post-create-apiclient
      parameters:
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          default: application/json
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiClientCreate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
      summary: Create ApiClient
      tags:
      - ApiClient
  /client/{id}:
    delete:
      operationId: delete-apiclient
      parameters:
      - description: ApiClient ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: version
        required: false
        schema:
          pattern: ^\d+$
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete_apiclient_200_response'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
      summary: Delete Api Client
      tags:
      - ApiClient
    get:
      operationId: get-apiclient
      parameters:
      - description: ApiClient ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: "includes[]"
        required: false
        schema:
          $ref: '#/components/schemas/ReferenceExpansionApiClient'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientResponse'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
      summary: Get Api Client by ID
      tags:
      - ApiClient
    post:
      operationId: post-edit-apiclient
      parameters:
      - description: ApiClient ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          default: application/json
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiClientEdit'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
      summary: Edit ApiClient
      tags:
      - ApiClient
  /client/{id}/secret:
    get:
      operationId: get-apiclient-secret
      parameters:
      - description: ApiClient ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_apiclient_secret_200_response'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Client not found, not active or user is not the owner"
      summary: Get Secret for Client by ID
      tags:
      - ApiClient
    post:
      operationId: post-regenerate-apiclient-secret
      parameters:
      - description: ApiClient ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          default: application/json
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_apiclient_secret_200_response'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Client not found, not active or user is not the owner"
      summary: Regenerate Client Secret
      tags:
      - ApiClient
  /group:
    get:
      operationId: get-search-group
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 100
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: ScanlationGroup ids (limited to 100 per request)
        explode: true
        in: query
        name: "ids[]"
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: focusedLanguage
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "includes[]"
        required: false
        schema:
          $ref: '#/components/schemas/ReferenceExpansionScanlationGroup'
        style: form
      - explode: false
        in: query
        name: order
        required: false
        schema:
          $ref: '#/components/schemas/get_search_group_order_parameter'
        style: deepObject
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanlationGroupList'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
      security: []
      summary: Scanlation Group list
      tags:
      - ScanlationGroup
    post:
      operationId: post-group
      parameters:
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          default: application/json
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScanlationGroup'
        description: The size of the body is limited to 16KB.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanlationGroupResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
      summary: Create Scanlation Group
      tags:
      - ScanlationGroup
  /group/{id}:
    delete:
      operationId: delete-group-id
      parameters:
      - description: Scanlation Group ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
      summary: Delete Scanlation Group
      tags:
      - ScanlationGroup
    get:
      operationId: get-group-id
      parameters:
      - description: Scanlation Group ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: "includes[]"
        required: false
        schema:
          $ref: '#/components/schemas/ReferenceExpansionScanlationGroup'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanlationGroupResponse'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ScanlationGroup not found
      security: []
      summary: Get Scanlation Group
      tags:
      - ScanlationGroup
    put:
      operationId: put-group-id
      parameters:
      - description: Scanlation Group ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          default: application/json
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScanlationGroupEdit'
        description: The size of the body is limited to 8KB.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanlationGroupResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
      summary: Update Scanlation Group
      tags:
      - ScanlationGroup
  /group/{id}/follow:
    delete:
      operationId: delete-group-id-follow
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
      summary: Unfollow Scanlation Group
      tags:
      - ScanlationGroup
    post:
      operationId: post-group-id-follow
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
      summary: Follow Scanlation Group
      tags:
      - ScanlationGroup
  /list:
    post:
      operationId: post-list
      parameters:
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          default: application/json
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomListCreate'
        description: The size of the body is limited to 8KB.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomListResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
      summary: Create CustomList
      tags:
      - CustomList
  /list/{id}:
    delete:
      operationId: delete-list-id
      parameters:
      - description: CustomList ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
      summary: Delete CustomList
      tags:
      - CustomList
    get:
      operationId: get-list-id
      parameters:
      - description: CustomList ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomListResponse'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CustomList not found
      security: []
      summary: Get CustomList
      tags:
      - CustomList
    put:
      description: The size of the body is limited to 8KB.
      operationId: put-list-id
      parameters:
      - description: CustomList ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          default: application/json
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomListEdit'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomListResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
      summary: Update CustomList
      tags:
      - CustomList
  /list/{id}/follow:
    delete:
      description: The request body is empty
      operationId: unfollow-list-id
      parameters:
      - description: CustomList ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                example:
                  value:
                    result: ok
              schema:
                $ref: '#/components/schemas/follow_list_id_200_response'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
      summary: Unfollow CustomList
      tags:
      - CustomList
    post:
      description: The request body is empty
      operationId: follow-list-id
      parameters:
      - description: CustomList ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          default: application/json
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                example:
                  value:
                    result: ok
              schema:
                $ref: '#/components/schemas/follow_list_id_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
      summary: Follow CustomList
      tags:
      - CustomList
  /manga/{id}/list/{listId}:
    delete:
      operationId: delete-manga-id-list-listId
      parameters:
      - description: Manga ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: CustomList ID
        explode: false
        in: path
        name: listId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
      summary: Remove Manga in CustomList
      tags:
      - CustomList
    post:
      operationId: post-manga-id-list-listId
      parameters:
      - description: Manga ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: CustomList ID
        explode: false
        in: path
        name: listId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
      summary: Add Manga in CustomList
      tags:
      - CustomList
  /user/list:
    get:
      description: This will list public and private CustomList
      operationId: get-user-list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 100
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomListList'
          description: OK
      summary: Get logged User CustomList list
      tags:
      - CustomList
  /user/{id}/list:
    get:
      description: This will list only public CustomList
      operationId: get-user-id-list
      parameters:
      - description: User ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 100
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomListList'
          description: OK
      security: []
      summary: Get User's CustomList list
      tags:
      - CustomList
  /user:
    get:
      operationId: get-user
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 100
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: User ids (limited to 100 per request)
        explode: true
        in: query
        name: "ids[]"
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: query
        name: order
        required: false
        schema:
          $ref: '#/components/schemas/get_user_order_parameter'
        style: deepObject
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserList'
          description: OK
      summary: User list
      tags:
      - User
  /user/{id}:
    delete:
      deprecated: true
      operationId: delete-user-id
      parameters:
      - description: User ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: OK
      summary: Delete User
      tags:
      - User
    get:
      operationId: get-user-id
      parameters:
      - description: User ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
          description: OK
      security: []
      summary: Get User
      tags:
      - User
  /user/delete/{code}:
    post:
      deprecated: true
      operationId: post-user-delete-code
      parameters:
      - description: User delete code
        explode: false
        in: path
        name: code
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: OK
      security: []
      summary: Approve User deletion
      tags:
      - User
  /user/password:
    post:
      deprecated: true
      operationId: post-user-password
      parameters:
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          default: application/json
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_user_password_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: OK
      summary: Update User password
      tags:
      - User
  /user/email:
    post:
      deprecated: true
      operationId: post-user-email
      parameters:
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          default: application/json
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_user_email_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: OK
      summary: Update User email
      tags:
      - User
  /chapter:
    get:
      description: "Chapter list. If you want the Chapters of a given Manga, please\
        \ check the feed endpoints."
      operationId: get-chapter
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 100
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Chapter ids (limited to 100 per request)
        explode: true
        in: query
        name: "ids[]"
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: title
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "groups[]"
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: uploader
        required: false
        schema:
          $ref: '#/components/schemas/get_chapter_uploader_parameter'
        style: form
      - explode: true
        in: query
        name: manga
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: "volume[]"
        required: false
        schema:
          $ref: '#/components/schemas/get_chapter_volume___parameter'
        style: form
      - explode: true
        in: query
        name: chapter
        required: false
        schema:
          $ref: '#/components/schemas/get_chapter_volume___parameter'
        style: form
      - explode: true
        in: query
        name: "translatedLanguage[]"
        required: false
        schema:
          items:
            pattern: "^[a-zA-Z\\-]{2,5}$"
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: "originalLanguage[]"
        required: false
        schema:
          items:
            pattern: "^[a-zA-Z\\-]{2,5}$"
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: "excludedOriginalLanguage[]"
        required: false
        schema:
          items:
            pattern: "^[a-zA-Z\\-]{2,5}$"
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: "contentRating[]"
        required: false
        schema:
          default:
          - safe
          - suggestive
          - erotica
          items:
            enum:
            - safe
            - suggestive
            - erotica
            - pornographic
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: "excludedGroups[]"
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: "excludedUploaders[]"
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: includeFutureUpdates
        required: false
        schema:
          default: "1"
          enum:
          - "0"
          - "1"
          type: string
        style: form
      - explode: true
        in: query
        name: includeEmptyPages
        required: false
        schema:
          enum:
          - 0
          - 1
          type: integer
        style: form
      - explode: true
        in: query
        name: includeFuturePublishAt
        required: false
        schema:
          enum:
          - 0
          - 1
          type: integer
        style: form
      - explode: true
        in: query
        name: includeExternalUrl
        required: false
        schema:
          enum:
          - 0
          - 1
          type: integer
        style: form
      - explode: true
        in: query
        name: createdAtSince
        required: false
        schema:
          description: "DateTime string with following format: YYYY-MM-DDTHH:MM:SS\
            \ in timezone UTC+0"
          pattern: "^\\d{4}-[0-1]\\d-([0-2]\\d|3[0-1])T([0-1]\\d|2[0-3]):[0-5]\\d:[0-5]\\\
            d$"
          type: string
        style: form
      - explode: true
        in: query
        name: updatedAtSince
        required: false
        schema:
          description: "DateTime string with following format: YYYY-MM-DDTHH:MM:SS\
            \ in timezone UTC+0"
          pattern: "^\\d{4}-[0-1]\\d-([0-2]\\d|3[0-1])T([0-1]\\d|2[0-3]):[0-5]\\d:[0-5]\\\
            d$"
          type: string
        style: form
      - explode: true
        in: query
        name: publishAtSince
        required: false
        schema:
          description: "DateTime string with following format: YYYY-MM-DDTHH:MM:SS\
            \ in timezone UTC+0"
          pattern: "^\\d{4}-[0-1]\\d-([0-2]\\d|3[0-1])T([0-1]\\d|2[0-3]):[0-5]\\d:[0-5]\\\
            d$"
          type: string
        style: form
      - explode: false
        in: query
        name: order
        required: false
        schema:
          $ref: '#/components/schemas/get_chapter_order_parameter'
        style: deepObject
      - explode: true
        in: query
        name: includes
        required: false
        schema:
          items:
            enum:
            - manga
            - scanlation_group
            - user
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChapterList'
          description: Chapter list
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
      security: []
      summary: Chapter list
      tags:
      - Chapter
  /chapter/{id}:
    delete:
      operationId: delete-chapter-id
      parameters:
      - description: Chapter ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Chapter has been deleted.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
      summary: Delete Chapter
      tags:
      - Chapter
    get:
      operationId: get-chapter-id
      parameters:
      - description: Chapter ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: "includes[]"
        required: false
        schema:
          $ref: '#/components/schemas/ReferenceExpansionChapter'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChapterResponse'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Chapter not found
      security: []
      summary: Get Chapter
      tags:
      - Chapter
    put:
      operationId: put-chapter-id
      parameters:
      - description: Chapter ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          default: application/json
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChapterEdit'
        description: The size of the body is limited to 32KB.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChapterResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
      summary: Update Chapter
      tags:
      - Chapter
  /user/follows/manga/feed:
    get:
      operationId: get-user-follows-manga-feed
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: "translatedLanguage[]"
        required: false
        schema:
          items:
            pattern: "^[a-zA-Z\\-]{2,5}$"
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: "originalLanguage[]"
        required: false
        schema:
          items:
            pattern: "^[a-zA-Z\\-]{2,5}$"
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: "excludedOriginalLanguage[]"
        required: false
        schema:
          items:
            pattern: "^[a-zA-Z\\-]{2,5}$"
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: "contentRating[]"
        required: false
        schema:
          default:
          - safe
          - suggestive
          - erotica
          items:
            enum:
            - safe
            - suggestive
            - erotica
            - pornographic
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: "excludedGroups[]"
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: "excludedUploaders[]"
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: includeFutureUpdates
        required: false
        schema:
          default: "1"
          enum:
          - "0"
          - "1"
          type: string
        style: form
      - explode: true
        in: query
        name: createdAtSince
        required: false
        schema:
          description: "DateTime string with following format: YYYY-MM-DDTHH:MM:SS\
            \ in timezone UTC+0"
          pattern: "^\\d{4}-[0-1]\\d-([0-2]\\d|3[0-1])T([0-1]\\d|2[0-3]):[0-5]\\d:[0-5]\\\
            d$"
          type: string
        style: form
      - explode: true
        in: query
        name: updatedAtSince
        required: false
        schema:
          description: "DateTime string with following format: YYYY-MM-DDTHH:MM:SS\
            \ in timezone UTC+0"
          pattern: "^\\d{4}-[0-1]\\d-([0-2]\\d|3[0-1])T([0-1]\\d|2[0-3]):[0-5]\\d:[0-5]\\\
            d$"
          type: string
        style: form
      - explode: true
        in: query
        name: publishAtSince
        required: false
        schema:
          description: "DateTime string with following format: YYYY-MM-DDTHH:MM:SS\
            \ in timezone UTC+0"
          pattern: "^\\d{4}-[0-1]\\d-([0-2]\\d|3[0-1])T([0-1]\\d|2[0-3]):[0-5]\\d:[0-5]\\\
            d$"
          type: string
        style: form
      - explode: false
        in: query
        name: order
        required: false
        schema:
          $ref: '#/components/schemas/get_chapter_order_parameter'
        style: deepObject
      - explode: true
        in: query
        name: "includes[]"
        required: false
        schema:
          $ref: '#/components/schemas/ReferenceExpansionChapter'
        style: form
      - explode: true
        in: query
        name: includeEmptyPages
        required: false
        schema:
          enum:
          - 0
          - 1
          type: integer
        style: form
      - explode: true
        in: query
        name: includeFuturePublishAt
        required: false
        schema:
          enum:
          - 0
          - 1
          type: integer
        style: form
      - explode: true
        in: query
        name: includeExternalUrl
        required: false
        schema:
          enum:
          - 0
          - 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChapterList'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User not Found
      summary: Get logged User followed Manga feed (Chapter list)
      tags:
      - Feed
  /list/{id}/feed:
    get:
      operationId: get-list-id-feed
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: "translatedLanguage[]"
        required: false
        schema:
          items:
            pattern: "^[a-zA-Z\\-]{2,5}$"
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: "originalLanguage[]"
        required: false
        schema:
          items:
            pattern: "^[a-zA-Z\\-]{2,5}$"
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: "excludedOriginalLanguage[]"
        required: false
        schema:
          items:
            pattern: "^[a-zA-Z\\-]{2,5}$"
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: "contentRating[]"
        required: false
        schema:
          default:
          - safe
          - suggestive
          - erotica
          items:
            enum:
            - safe
            - suggestive
            - erotica
            - pornographic
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: "excludedGroups[]"
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: "excludedUploaders[]"
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: includeFutureUpdates
        required: false
        schema:
          default: "1"
          enum:
          - "0"
          - "1"
          type: string
        style: form
      - explode: true
        in: query
        name: createdAtSince
        required: false
        schema:
          description: "DateTime string with following format: YYYY-MM-DDTHH:MM:SS\
            \ in timezone UTC+0"
          pattern: "^\\d{4}-[0-1]\\d-([0-2]\\d|3[0-1])T([0-1]\\d|2[0-3]):[0-5]\\d:[0-5]\\\
            d$"
          type: string
        style: form
      - explode: true
        in: query
        name: updatedAtSince
        required: false
        schema:
          description: "DateTime string with following format: YYYY-MM-DDTHH:MM:SS\
            \ in timezone UTC+0"
          pattern: "^\\d{4}-[0-1]\\d-([0-2]\\d|3[0-1])T([0-1]\\d|2[0-3]):[0-5]\\d:[0-5]\\\
            d$"
          type: string
        style: form
      - explode: true
        in: query
        name: publishAtSince
        required: false
        schema:
          description: "DateTime string with following format: YYYY-MM-DDTHH:MM:SS\
            \ in timezone UTC+0"
          pattern: "^\\d{4}-[0-1]\\d-([0-2]\\d|3[0-1])T([0-1]\\d|2[0-3]):[0-5]\\d:[0-5]\\\
            d$"
          type: string
        style: form
      - explode: false
        in: query
        name: order
        required: false
        schema:
          $ref: '#/components/schemas/get_chapter_order_parameter'
        style: deepObject
      - explode: true
        in: query
        name: "includes[]"
        required: false
        schema:
          $ref: '#/components/schemas/ReferenceExpansionChapter'
        style: form
      - explode: true
        in: query
        name: includeEmptyPages
        required: false
        schema:
          enum:
          - 0
          - 1
          type: integer
        style: form
      - explode: true
        in: query
        name: includeFuturePublishAt
        required: false
        schema:
          enum:
          - 0
          - 1
          type: integer
        style: form
      - explode: true
        in: query
        name: includeExternalUrl
        required: false
        schema:
          enum:
          - 0
          - 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChapterList'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
      security: []
      summary: CustomList Manga feed
      tags:
      - Feed
  /manga/{id}/follow:
    delete:
      operationId: delete-manga-id-follow
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
      summary: Unfollow Manga
      tags:
      - Manga
    post:
      operationId: post-manga-id-follow
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
      summary: Follow Manga
      tags:
      - Manga
  /cover:
    get:
      operationId: get-cover
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 100
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Manga ids (limited to 100 per request)
        explode: true
        in: query
        name: "manga[]"
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - description: Covers ids (limited to 100 per request)
        explode: true
        in: query
        name: "ids[]"
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - description: User ids (limited to 100 per request)
        explode: true
        in: query
        name: "uploaders[]"
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - description: Locales of cover art (limited to 100 per request)
        explode: true
        in: query
        name: "locales[]"
        required: false
        schema:
          items:
            pattern: "^[a-z]{2}(-[a-z]{2})?$"
            type: string
          type: array
        style: form
      - explode: false
        in: query
        name: order
        required: false
        schema:
          $ref: '#/components/schemas/get_cover_order_parameter'
        style: deepObject
      - explode: true
        in: query
        name: "includes[]"
        required: false
        schema:
          $ref: '#/components/schemas/ReferenceExpansionCoverArt'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverList'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
      security: []
      summary: CoverArt list
      tags:
      - Cover
  /cover/{mangaOrCoverId}:
    delete:
      operationId: delete-cover
      parameters:
      - description: Is Manga UUID on POST
        explode: false
        in: path
        name: mangaOrCoverId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
      summary: Delete Cover
      tags:
      - Cover
    get:
      operationId: get-cover-id
      parameters:
      - description: Is Manga UUID on POST
        explode: false
        in: path
        name: mangaOrCoverId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: "includes[]"
        required: false
        schema:
          $ref: '#/components/schemas/ReferenceExpansionCoverArt'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CoverArt not found
      security: []
      summary: Get Cover
      tags:
      - Cover
    post:
      operationId: upload-cover
      parameters:
      - description: Is Manga UUID on POST
        explode: false
        in: path
        name: mangaOrCoverId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          default: multipart/form-data
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/upload_cover_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
      summary: Upload Cover
      tags:
      - Cover
    put:
      operationId: edit-cover
      parameters:
      - description: Is Manga UUID on POST
        explode: false
        in: path
        name: mangaOrCoverId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          default: application/json
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverEdit'
        description: The size of the body is limited to 2KB.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
      summary: Edit Cover
      tags:
      - Cover
  /author:
    get:
      operationId: get-author
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 100
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Author ids (limited to 100 per request)
        explode: true
        in: query
        name: "ids[]"
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: query
        name: order
        required: false
        schema:
          $ref: '#/components/schemas/get_author_order_parameter'
        style: deepObject
      - explode: true
        in: query
        name: "includes[]"
        required: false
        schema:
          $ref: '#/components/schemas/ReferenceExpansionAuthor'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorList'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
      security: []
      summary: Author list
      tags:
      - Author
    post:
      operationId: post-author
      parameters:
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          default: application/json
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorCreate'
        description: The size of the body is limited to 8KB.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
      summary: Create Author
      tags:
      - Author
  /author/{id}:
    delete:
      operationId: delete-author-id
      parameters:
      - description: Author ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
      summary: Delete Author
      tags:
      - Author
    get:
      operationId: get-author-id
      parameters:
      - description: Author ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: "includes[]"
        required: false
        schema:
          $ref: '#/components/schemas/ReferenceExpansionAuthor'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorResponse'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Author no content
      security: []
      summary: Get Author
      tags:
      - Author
    put:
      operationId: put-author-id
      parameters:
      - description: Author ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          default: application/json
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorEdit'
        description: The size of the body is limited to 8KB.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
      summary: Update Author
      tags:
      - Author
  /legacy/mapping:
    post:
      operationId: post-legacy-mapping
      parameters:
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          default: application/json
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MappingIdBody'
        description: The size of the body is limited to 10KB.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MappingIdResponse'
          description: This response will give you an array of mappings of resource
            identifiers ; the `data.attributes.newId` field corresponds to the new
            UUID.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
      security: []
      summary: Legacy ID mapping
      tags:
      - Legacy
  /manga/{id}/feed:
    get:
      operationId: get-manga-id-feed
      parameters:
      - description: Manga ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: "translatedLanguage[]"
        required: false
        schema:
          items:
            pattern: "^[a-zA-Z\\-]{2,5}$"
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: "originalLanguage[]"
        required: false
        schema:
          items:
            pattern: "^[a-zA-Z\\-]{2,5}$"
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: "excludedOriginalLanguage[]"
        required: false
        schema:
          items:
            pattern: "^[a-zA-Z\\-]{2,5}$"
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: "contentRating[]"
        required: false
        schema:
          default:
          - safe
          - suggestive
          - erotica
          items:
            enum:
            - safe
            - suggestive
            - erotica
            - pornographic
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: "excludedGroups[]"
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: "excludedUploaders[]"
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: includeFutureUpdates
        required: false
        schema:
          default: "1"
          enum:
          - "0"
          - "1"
          type: string
        style: form
      - explode: true
        in: query
        name: createdAtSince
        required: false
        schema:
          description: "DateTime string with following format: YYYY-MM-DDTHH:MM:SS\
            \ in timezone UTC+0"
          pattern: "^\\d{4}-[0-1]\\d-([0-2]\\d|3[0-1])T([0-1]\\d|2[0-3]):[0-5]\\d:[0-5]\\\
            d$"
          type: string
        style: form
      - explode: true
        in: query
        name: updatedAtSince
        required: false
        schema:
          description: "DateTime string with following format: YYYY-MM-DDTHH:MM:SS\
            \ in timezone UTC+0"
          pattern: "^\\d{4}-[0-1]\\d-([0-2]\\d|3[0-1])T([0-1]\\d|2[0-3]):[0-5]\\d:[0-5]\\\
            d$"
          type: string
        style: form
      - explode: true
        in: query
        name: publishAtSince
        required: false
        schema:
          description: "DateTime string with following format: YYYY-MM-DDTHH:MM:SS\
            \ in timezone UTC+0"
          pattern: "^\\d{4}-[0-1]\\d-([0-2]\\d|3[0-1])T([0-1]\\d|2[0-3]):[0-5]\\d:[0-5]\\\
            d$"
          type: string
        style: form
      - explode: false
        in: query
        name: order
        required: false
        schema:
          $ref: '#/components/schemas/get_chapter_order_parameter'
        style: deepObject
      - explode: true
        in: query
        name: "includes[]"
        required: false
        schema:
          $ref: '#/components/schemas/ReferenceExpansionChapter'
        style: form
      - explode: true
        in: query
        name: includeEmptyPages
        required: false
        schema:
          enum:
          - 0
          - 1
          type: integer
        style: form
      - explode: true
        in: query
        name: includeFuturePublishAt
        required: false
        schema:
          enum:
          - 0
          - 1
          type: integer
        style: form
      - explode: true
        in: query
        name: includeExternalUrl
        required: false
        schema:
          enum:
          - 0
          - 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChapterList'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
      security: []
      summary: Manga feed
      tags:
      - Manga
  /manga/{id}/read:
    get:
      description: A list of chapter ids that are marked as read for the specified
        manga
      operationId: get-manga-chapter-readmarkers
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    result: ok
                    data:
                    - 00057883-357b-4734-9469-52967e59ef4c
                    - 000b7978-d9bd-49ec-a8f6-a0737368415f
                    - 0015b621-a175-47f5-81fb-5976c88e18c4
              schema:
                $ref: '#/components/schemas/get_manga_chapter_readmarkers_200_response'
          description: OK
      summary: Manga read markers
      tags:
      - ReadMarker
    post:
      description: Send a lot of chapter ids for one manga to mark as read and/or
        unread
      operationId: post-manga-chapter-readmarkers
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Adding this will cause the chapter to be stored in the user's
          reading history
        explode: true
        in: query
        name: updateHistory
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChapterReadMarkerBatch'
        description: The size of the body is limited to 10KB.
      responses:
        "200":
          content:
            application/json:
              examples:
                example:
                  value:
                    result: ok
              schema:
                $ref: '#/components/schemas/follow_list_id_200_response'
          description: OK
      summary: Manga read markers batch
      tags:
      - ReadMarker
  /manga/read:
    get:
      description: A list of chapter ids that are marked as read for the given manga
        ids
      operationId: get-manga-chapter-readmarkers-2
      parameters:
      - description: Manga ids
        explode: true
        in: query
        name: "ids[]"
        required: true
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - description: Group results by manga ids
        explode: true
        in: query
        name: grouped
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-default:
                  value:
                    result: ok
                    data:
                    - 00057883-357b-4734-9469-52967e59ef4c
                    - 000b7978-d9bd-49ec-a8f6-a0737368415f
                    - 0015b621-a175-47f5-81fb-5976c88e18c4
                example-grouped:
                  value:
                    result: ok
                    data:
                      "40529c30-0d25-4da5-a25a-f71a961ab855":
                      - 00057883-357b-4734-9469-52967e59ef4c
                      - 000b7978-d9bd-49ec-a8f6-a0737368415f
                      - 0015b621-a175-47f5-81fb-5976c88e18c4
              schema:
                $ref: '#/components/schemas/get_manga_chapter_readmarkers_2_200_response'
          description: OK
      summary: Manga read markers
      tags:
      - ReadMarker
  /manga/random:
    get:
      operationId: get-manga-random
      parameters:
      - explode: true
        in: query
        name: "includes[]"
        required: false
        schema:
          $ref: '#/components/schemas/ReferenceExpansionManga'
        style: form
      - explode: true
        in: query
        name: "contentRating[]"
        required: false
        schema:
          default:
          - safe
          - suggestive
          - erotica
          items:
            enum:
            - safe
            - suggestive
            - erotica
            - pornographic
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: "includedTags[]"
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: includedTagsMode
        required: false
        schema:
          default: AND
          enum:
          - AND
          - OR
          type: string
        style: form
      - explode: true
        in: query
        name: "excludedTags[]"
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: excludedTagsMode
        required: false
        schema:
          default: OR
          enum:
          - AND
          - OR
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MangaResponse'
          description: OK
      security: []
      summary: Get a random Manga
      tags:
      - Manga
  /at-home/server/{chapterId}:
    get:
      operationId: get-at-home-server-chapterId
      parameters:
      - description: Chapter ID
        explode: false
        in: path
        name: chapterId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: |-
          Force selecting from MangaDex@Home servers that use the standard HTTPS port 443.

          While the conventional port for HTTPS traffic is 443 and servers are encouraged to use it, it is not a hard requirement as it technically isn't
          anything special.

          However, some misbehaving school/office network will at time block traffic to non-standard ports, and setting this flag to `true` will ensure
          selection of a server that uses these.
        explode: true
        in: query
        name: forcePort443
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_at_home_server_chapterId_200_response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
      security: []
      summary: Get MangaDex@Home server URL
      tags:
      - AtHome
  /manga/tag:
    get:
      operationId: get-manga-tag
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagResponse'
          description: OK
      security: []
      summary: Tag list
      tags:
      - Manga
  /account/activate/resend:
    post:
      deprecated: true
[...]
